.social-media-contact-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    gap: 2rem;

    margin-bottom: 5rem;
}

.social-media-card-container > div {
    display: flex;
    flex-direction: column-reverse;

    gap: 2rem;

    width: 100%;
}

.social-media-card {
    display: flex;
    justify-content: center;

    min-height: 8rem;
    width: 100%;
    gap: 1rem;
    padding: 2rem .6rem;


    border-radius: 1rem;
    box-shadow: .1rem .4rem 1rem var(--color-opacity-bg-dark);
}

.social-media-card li {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 2rem;
    font-weight: 500;
    
    width: 18rem;
}

.social-media-card  img {
    width: 3rem;
}

.container-data-social-media {
    display: flex;
    flex-direction: column;

    align-items: center;

    flex-wrap: wrap;
    padding: 0 2rem;
}

.profile-img {
    display: none;
    width: 30rem;
    margin-bottom: 5rem;
}


@media (min-width: 720px) {
    .social-media-card-container > div{
        flex-direction: row;
    }
}