.social-media-contact-container {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    margin-bottom: 5rem;
}

.social-media-card-container > div {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;

    gap: 2rem;
    width: 100%;
}

.social-media-card {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 10rem;
    width: 8rem;

    border-radius: 1rem;
    box-shadow: .1rem .4rem 1rem var(--box-shadow-color);
}

.social-media-card li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem 0;
    font-weight: 500;

}

.social-media-card  svg {
    width: 3rem;
}


.social-media-card p {
    font-size: 1.2rem;
}

.container-data-social-media {
    display: flex;
    flex-direction: column;

    align-items: center;

    flex-wrap: wrap;
    padding: 0 2rem;
}

.profile-img {
    display: none;
    width: 30rem;
    margin-bottom: 5rem;
}


@media (min-width: 720px) {
    .social-media-card-container > div{
        flex-direction: row;
        gap: 3rem;
    }

    .social-media-card {
        height: auto;
        width: 18rem;
    }
    
    .social-media-card p {
        font-size: 1.6rem;
    }
}