.cards-xp-academic, .cards-xp-professional {
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
}

.cards-xp-academic > div, .cards-xp-professional > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    

    max-width: 90%;

    gap: 2.3rem;
}

.xp-card {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;

    width: 100%;
    max-width: 30rem;

    flex-wrap: wrap;
    
    gap: 1.6rem;
    padding: 1.6rem 2rem;

    list-style: none;

    border-radius: 1rem;

    box-shadow: .1rem .4rem 1rem var(--color-opacity-bg-dark);
}

.xp-container-name {
    display: flex;
    align-items: center;
    
    gap: 1rem;
    width: 100%;
}

.xp-container-name img {
    width: 6rem;
}

.xp-description-name {
    font-size: 1.8rem;
    font-weight: 700;
}

.xp-description-container {
    display: flex;
    flex-direction: column;
}

@media (max-width: 370px) {
    
    .xp-description-name  {
        justify-content: start;
    }
}

@media (min-width: 810px) {
    .cards-xp-academic > div, .cards-xp-professional > div {
        justify-content: start;
    }
}