@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-family: "Montserrat", sans-serif;

    --color-light: #ffffff;
    --color-dark: #393E46;
    --color-cyan: #00ADB5;

    --color-opacity-bg-light: rgba(255, 255, 255, 0.65);
    --color-opacity-bg-dark: rgba(57, 62, 70, 0.65);

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--font-family);
    font-size: 1.6rem;
    text-decoration: none;
}

h1, h2, h3, a, p {
    color: var(--color-dark);
}

.menu-burguer-open, .menu-burguer-close{
    top: 3rem;
    right: 2.6rem;

    width: 3rem;
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.menu-burguer-open {
    position: fixed;
}

.menu-burguer-close {
    position: absolute;
}

.about-container, .skills-container, .experiences-container, .projects-container, .contact-container  {
    flex-direction: column;

    box-sizing: border-box;

    min-height: 100%;
    max-width: 80rem;
    
    padding: 2rem 5rem 1rem 5rem;
    gap: 2rem;
    margin: 0 auto;

    line-height: 2.6rem;
}

.section-title {
    margin: 2rem 0;
    font-size: 3rem;
    font-weight: 800;

    padding: 1rem 0;
    width: auto;

    border-bottom: .3rem solid var(--color-cyan);
}

.sub-title {
    margin: 2rem 0;
    font-size: 2.4rem;
    font-weight: 800;

    padding: 0 1rem;
    width: auto;

    border-left: .3rem solid var(--color-cyan);
}

.card-scale {
    animation: 4s;
}

.card-scale:hover {
    transition: .1s;
    transform: scale(1.012);
}


@media (min-width: 720px) {
    .about-container, .skills-container, .experiences-container, .projects-container, .contact-container {
        min-height: 100%;
    }
}