@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-family: "Montserrat", sans-serif;

    --primary-color: #393E46;
    --color-opacity-bg: rgba(222, 226, 230, 0.65);
    --bg-color: #fff;
    --box-shadow-color: rgba(57, 62, 70, 0.65);

    --color-cyan: #00ADB5;

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--font-family);
    font-size: 1.6rem;
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
}

body::-webkit-scrollbar {
    display: none;
}

h1, h2, h3, a, p {
    color: var(--primary-color);
}

svg {
    fill: var(--primary-color);
    width: auto;
    height: auto;
}

svg path {
    fill: var(--primary-color);
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.about-container, .skills-container, .experiences-container, .projects-container, .contact-container  {
    flex-direction: column;

    box-sizing: border-box;

    min-height: 100%;
    max-width: 120rem;
    
    padding: 2rem 2rem 1rem 2rem;
    gap: 2rem;
    margin: 0 auto;

    line-height: 2.6rem;
}

.section-title {
    margin: 2rem 0;
    font-size: 3rem;
    font-weight: 800;

    padding: 1rem 0;
    width: auto;

    border-bottom: .3rem solid var(--color-cyan);
}

.sub-title {
    margin: 2rem 0;
    font-size: 2.4rem;
    font-weight: 800;

    padding: 0 1rem;
    width: auto;

    border-left: .3rem solid var(--color-cyan);
}

.card-scale {
    animation: 4s;
}

.card-scale:hover {
    transition: .1s;
    transform: scale(1.012);
}


@media (min-width: 720px) {
    .about-container, .skills-container, .experiences-container, .projects-container, .contact-container {
        padding: 2rem 5rem 1rem 5rem;
    }
}