.menu-container {
    position: relative;
    z-index: 1;
}

header {
    position: fixed;
    
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    height: 100%;
    gap: 1.6rem;
    padding: 9rem 0 6rem 0;

    background-color: var(--color-light);
}

header nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    gap: 3rem;
    padding: 0 3rem;

    font-weight: 500;
}

header > nav > a {
    text-align: center;
    
    border: .2rem solid;
    padding: 1rem 2rem;

    border-radius: .7rem;

    width: 100%;

}

header > nav > a, header > p {
    font-size: 2rem;
}

header p {
    display: flex;
    align-items: center;

    gap: .5rem;
}

header p img {
    width: 1.6rem;
}