.home-container {
    background-image: url("../img/bg-img.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-bg-opacity {
    height: 100vh;
    width: 100%;

    background-color: var(--color-opacity-bg);
}

.home-content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 100vh;
    max-width: 80rem;
    margin: 0 auto;
}

.name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    box-sizing: border-box;
    
    padding: 12rem 5rem 5rem 5rem;
}

.name-container > div {
    display: flex;
    flex-direction: column;
    line-height: 4.2rem;
}

.first-name {
    font-size: 2.8rem;
    font-weight: 600;
}

.last-name {
    max-width: 100%;
    font-size: 7.5rem;
    font-weight: 700;
}

.career {
    padding-left: .6rem;
    margin-top: 1.4rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.6rem;
}

.cv-button {
    display: flex;

    height: 5rem;
    max-width: 40rem;
    width: 100%;

    margin-top: 2rem;
    
    border: none;
    background: none;
}

.cv-button a {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    gap: 2rem;
    font-weight: 600;

    border: .2rem solid var(--primary-color);
    border-radius: .7rem;
}

.cv-button a svg {
    width: 2.2rem;
}

.social-media-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.social-media-container a svg {
    width: 4rem;
}