.cards-frontend-container, .cards-backend-container {
    display: flex;
    justify-content: center;
}

.cards-frontend-container div, .cards-backend-container div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    box-sizing: border-box;

    gap: 3rem;
    width: 90%;
}

.skill-card {
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 8rem;

    gap: 1rem;
    padding: 1rem .6rem;

    border-radius: 1rem;
    box-shadow: .1rem .4rem 1rem var(--box-shadow-color);

}

.skill-card > img {
    height: 3rem;
    width: 3rem;
}

.skill-card > p {
    flex-wrap: wrap;

    width: 100%;
    
    line-height: 1.6rem;
    font-weight: 600;
    font-size: 1.2rem;

    text-align: center;
}

@media (min-width: 662px) {
    .cards-frontend-container div, .cards-backend-container div {
        justify-content: center;
    }

    .skill-card {
        min-height: 10rem;
        width: 10rem;

        border-radius: 1rem;
        box-shadow: .1rem .4rem 1rem var(--box-shadow-color);
    }
}